
@import url('https://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700i');
 .nav-title{

    font-weight: bold;
    color: yellow;
    font-size: 2.5em;    
    font-family: 'Ubuntu Mono', monospace;


}

#nav a{
    background-color: black;
    color: yellow;
}
#nav {
    background-color: black;
    color: yellow;
}

header.masthead {
    background-image: url("../bottle.jpg");
}

body {
    font-family: 'Ubuntu Mono', monospace;
    background-image: url("../bottle.jpg");
}

#wine101 {
    
    background-color: whitesmoke;
}

.error-page {
    background-color: whitesmoke;
}